
/* text styles */
 h1 {
	color : #000066;
	font-family : "Lucida Console", Courier, monospace;
	text-align: center;
	font-size : 35px;
	padding: 20px;
	background-color : none;
}
main {
	padding: 20px;
	margin : 20px;
	text-align : center;
	font-family : "Lucida Console", Courier, monospace;
 }
 
 p {
	 padding: 10px;
 }

.caption {
	padding: 10px;
	margin : 10px;
	text-align : center;
	font-family : "Lucida Console", Courier, monospace;
	font-size : 15px
}

/* nav bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow : hidden;
  background-color: #ddffff;
  position: sticky;
  top: 0;
}

li {
  float:left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #dddfff;
}

/*background*/

 body {
	 background-color : #eeeeff;
	 background-size: cover;
	 line-height: 1.2;
}
/*Picture*/
picture img {
	display: block;
	margin : 0 auto;
}
 
 .responsive {
  max-width: 700px;
  width : 100%;
  height: auto;
}

/*Map*/
map img {
display : block;
margin : auto;
}	
